/* ------------------------------------------------------------
   Activity 1
   Pattern 1
-------------------------------------------------------------*/
.content1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 100px);
  gap: 20px;
  justify-items: center;
}

.red1 {
  background: red;
  grid-column: 1 / 3;
  width: 100%;
}

.green1 {
  background: green;
  width: 200px;
  height: 200px;
}

.yellow1 {
  background: gold;
  width: 200px;
  height: 200px;
}

.blue1 {
  background: blue;
  width: 100%;
  height: 100px;
  grid-column: 1 / 3;
}

/* ------------------------------------------------------------
   Activity 2
   Pattern 2
-------------------------------------------------------------*/
.content2 {
  position: relative;
  height: 400px;
}

.red2, .green2, .yellow2, .blue2 {
  width: 100px;
  height: 100px;
  position: absolute;
}

.red2    { background: red;    top: 0;    left: 0; }
.green2  { background: green;  top: 60px; left: 60px; }
.yellow2 { background: gold;   top: 120px; left: 120px; }
.blue2   { background: blue;   top: 180px; left: 180px; }

/* ------------------------------------------------------------
   Activity 3
   Pattern 3
-------------------------------------------------------------*/
.content3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
}

.red3 {
  background: red;
  grid-column: 1 / 4;
}

.green3 {
  background: green;
  grid-column: 1 / 2;
}

.yellow3 {
  background: gold;
  grid-column: 3 / 4;
}

.blue3 {
  background: blue;
  grid-column: 1 / 4;
}

/* ------------------------------------------------------------
   Activity 4
   Pattern 4
-------------------------------------------------------------*/
.content4 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, 150px);
}

.red4 {
  background: red;
  grid-row: 1 / 4;
  grid-column: 1 / 2;
}

.green4 {
  background: green;
}

.yellow4 {
  background: gold;
}

.blue4 {
  background: blue;
}

/* ------------------------------------------------------------
   Activity 5
   Pattern 5
-------------------------------------------------------------*/
.content5 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100px auto 150px;
  height: 100%;
}

.red5 {
  background: red;
  grid-column: 1 / 3;
}

.green5 {
  background: green;
}

.yellow5 {
  background: gold;
  padding: 20px;
}

.blue5 {
  background: blue;
  grid-column: 1 / 3;
}

/* ------------------------------------------------------------
   Activity 6
   Pattern 6
-------------------------------------------------------------*/
.content6 {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
  width: 500px;
  height: 500px;
  position: relative;
}

.red6 {
  background: red;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  z-index: 1;
}

.blue6 {
  background: blue;
  grid-column: 2 / 5;
  grid-row: 2 / 5;
  z-index: 2;
}

.yellow6 {
  background: gold;
  grid-column: 4 / 5;
  grid-row: 2 / 5;
  z-index: 3;
}

.green6 {
  background: green;
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  z-index: 3;
}


/* Do not make any changes below here */
.activity {
  width: 70%; 
  margin: 20px auto; 
  font-family: Arial, sans-serif; 
  border: 1px solid black; 
  padding: 10px; 
  clear:both; 
  overflow: auto;
} 

.hint {
  border: 1px solid grey;
  background: #e0e0e0;
  padding: .5em;
  position: relative;
  margin: 1em 0;
}
.hint h3 {
  margin: 0;
}
.hint:hover {
  background: #d0d0d0;
}
.hint > div {
  display: none;
}

.hint input[type=checkbox] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.hint input[type=checkbox]:checked ~ div {
  display: block;
}

.hint i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 10px;
  top: -3px;
}
.hint i:before, .hint i:after {
  content: "";
  position: absolute;
  background-color: black;
  width: 3px;
  height: 9px;
}
.hint i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.hint i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

.hint input[type=checkbox]:checked ~ i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.hint input[type=checkbox]:checked ~ i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.hint a {
  position: relative;
  z-index: 1;
}